/* START COMMON CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fix {
    overflow: hidden;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.col-11 {
    width: 91.66%;
    float: left;
    padding: 0 15px;
}

.col-10 {
    width: 83.34%;
    float: left;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    float: left;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-7 {
    width: 58.33%;
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    float: left;
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
    float: left;
    padding: 0 15px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-70 {
    margin-top: 70px;
}


.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.black-bg {
    background: #222;
}

.gray-bg {
    background: #f2f2f2;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

/* END COMMON CSS */

/* HEADER AREA CSS */

.header-area {}

.divider {
    /* margin: 0 50px; */
    border-bottom: 1px solid #ccc;
}

.logo {
    margin-top: 40px;
}

.logo img {}

.header-contact-right {
    margin-right: -25px;
    float: right;
    padding-top: 35px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.header-contact {
    float: left;
    width: 33.33%;
    display: flex;
}

.header-icon {
    text-align: center;
    background: #1a9bdc;
    color: #fff;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
}

.header-icon i {
    text-align: center;
    font-size: 20px;
}

.header-text {
    text-align: left;
    margin-top: 7px;
}

.header-text p {
    color: #6a6a6a;
    font-size: 14px;
}

.header-text p span {
    font-weight: 700;
    text-transform: uppercase;
}

/* MENU AREA CSS */

.main-menu ul li {
    margin-right: 30px;
    float: left;
}

.main-menu ul li a {
    padding: 45px 0;
    color: #6c6c6c;
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
}

.main-menu ul li a:hover {
    color: #262626;
}

.social-icon {
    float: right;
    margin-top: 45px;
}

.social-icon a {
    margin-left: 20px;
    display: inline-block;
}

.social-icon i {
    color: #191919;
    font-size: 20px;
}

/* SLIDER */
.slider-area {
    background-size: cover;
    background-position: center;
}

.slider-content {
    width: 45%;
    text-align: center;
    padding: 184px 0;
}

.slider-content h1 {
    display: inline-block;
    color: #474747;
    font-size: 40px;
}

.slider-content p {
    padding-top: 35px;
    padding-bottom: 40px;
    color: #3f3f3f;
    font-size: 18px;
}

.slider-content a {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 30px;
    text-transform: uppercase;
    background: #1a9bdc;
}

/* SERVICES */
.services-area {
    background: #1a9bdc;

}

.single-service {
    text-align: center;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 55px;
    transition: 0.3s;
}

.single-service:hover {
    background: #37c3a8;
}

.service-icon img {}

.single-service h2 {
    font-weight: 700;
    font-size: 25px;
    padding: 25px 0;
}

.single-service p {
    text-align: center;
    font-size: 14px;
}

/* CHOOSE US */
.text-center {
    text-align: center;
}

.section-title {
    font-size: 25px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 25px;
}

.section-title h2 {
    color: #494949;
}

.section-title p {
    color: #6a6a6a;
    font-size: 16px;
    margin-top: 40px;
    line-height: 26px;
}

.choose-icon {
    display: flex;
}
.single-choose {
    margin-top: 120px;
}
.choose-icon h3 {
    display: inline-block;
    margin-top: 25px;
    padding-left: 15px;
    color: #6f6f6e;
    font-size: 25px;
}

.single-choose p {
    margin-top: 23px;
    color: #6f6f6e;
    font-size: 18px;
}

.counter-area {
    background-position: center;
    background-size: cover;
}
.single-counter {
    text-align: center;
}
.single-counter img {
    width: 20%;
}
.single-counter span {
    font-size: 30px;
    color: #fff;
    display: block;
    font-weight: 500;
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
}
.single-counter span::before {
    position: absolute;
    width: 50px;
    height: 3px;
    content: "";
    background: #fff;
    left: 40%;
    bottom: 0;
}
.single-counter p {
    color: #fff;
    font-weight: 700;
    margin-top: 20px;
}